[build]
  base = "frontend/"
  publish = "frontend/dist"
  command = "npm install && npm run build"

[[headers]]
  for = "/*.js"
  [headers.values]
    Content-Type = "application/javascript"

[[headers]]
  for = "/index.html"
  [headers.values]
    Cache-Control = "no-cache"
